.recipe-details {
  border-color: #9b9b9b;
}

.recipe-detail-icons{
  color: #9b9b9b;
}

.fa-clock{
  height: 24px;
  width: 32px;
}

#descritpion {
  resize: none;
}

.detail-selection {
  width: 150px;
  height: 50px;
  text-align-last: center;
  border-color: #9b9b9b;
}

.detail-labels {
  width: 75%;
}

.editRecipeForm.container-fluid {
  margin: 0px;
  width: 100%;
  margin-left: 0px;
  text-align: center;
}

.form-recipe-label {
  margin-top: 50px;
  margin-bottom: 100px;
  font-size: 28.5px;
}

.form-title {
  margin-bottom: 50px;
}

.form-title, .form-snippet, .search-tag {
  margin-bottom: 50px;
}

.editRecipeForm i.fas.fa-utensil-spoon {
  padding-right: 15px;
  padding-bottom: 0px;
}

.hide {
  display: none;
}
.recipe-submit-container{
  margin-top: 30px;
}

#recipe-submit-btn {
  font-size: 22px;
  background-color: #4ec8ed;
  color: white;
  margin-top: 25px;
  height: 70px;
  width: 200px;
  border: none;
}

.st-search-input {
  font-size: 25px;
  font-weight: 200;
}

.form-dropdown{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 50px;
}

textarea {
  resize: none;
  border-color: #9b9b9b;
}