.createRecipeForm.container-fluid {
  margin: 0px;
  width: 100%;
  margin-left: 0px;
  text-align: center;
}

.form-title {
    margin-top: 50px;
    margin-bottom: 50px;
}

.form-recipe-label {
    margin-bottom: 100px;
    font-size: 28.5px;
}

.form-dropdown {
    font-size: 28.5px;
    margin-bottom: 50px;
}


.form-tag-input {
    font-size: 28.5px;
    margin-bottom: 100px;
}

.form-ingredients {
    font-size: 28.5px;
    margin-bottom: 100px;
}

.ingredient-input {
    border-radius: 10px;
    border: 0;
    margin: 5px;
}

.directions-input {
    border-radius: 10px;
    border: 0;
    margin: 5px;
}

.form-directions {
    font-size: 28.5px;
    margin-bottom: 100px;
}

.form-submit button {
    color: white;
    background-color: #4EC8ED;
    border: solid white 3px;
    font-size: 45px;
    font-weight: 500;
}

.card-meal-btn {
    border-radius: 20px;
    color: white;
    border: 0px;
    height: 40px;
    padding-left: 20px;
    padding-right: 20px; 
    width: auto;
    font-size: 11px;
    font-weight: bold;
    background-color: #31df7d;
    position: absolute;
    top: 6%;
    right: 6%; 
}
