.spec-unique {
  color: #55ffff;
}

.spec-element {
  display: inline;
  margin: 0 auto;
  border-right: 0.5px solid lightgrey;
  border-left: 0.5px solid lightgrey;

}

.specs-bar {
  width: 650px;
  margin: 0 auto;
  padding-top: 15px;
  padding-bottom: 15px;
}

.text-center {
  text-align: center;
}

#diff-spec-container1 {
  padding: 0 10px;
}

#diff-spec-container2 {
  border-left: 2px solid white;
  box-shadow: -10px 0px 14px -4px white;
  -moz-box-shadow: -10px 0px 14px -4px white;
  -webkit-box-shadow: -10px 0px 14px -14px white;
}

#diff-spec-container3 {
  border-left: 2px solid white;
  box-shadow: -10px 0px 14px -4px white;
  -moz-box-shadow: -10px 0px 14px -4px white;
  -webkit-box-shadow: -10px 0px 14px -14px white;
}

@media (max-width: 575px) {
  #diff-spec-container1 {
    padding: 10px 0;
  }

  #diff-spec-container2 {
    border-left: 0;
    border-top: 1px dotted white;
    padding: 10px 0;
    box-shadow: none;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
  }

  #diff-spec-container3 {
    border-left: 0;
    border-top: 1px dotted white;
    padding: 10px 0;
    box-shadow: none;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
  }
}
