<h3>Admin Dashboard</h3>

<h5>All Members</h5>

<p class="user-line">
<span class="user-title">User Name</span> | <span class="user-creation-date">Member Since</span>
</p>

<% @users.each do |user| %>
    <p class="user-line">
    	<span class="user-title"><%= user.email %></span> | <span class="user-creation-date"><%= user.created_at %></span> | <a href="/adminviews/<%= user.id %>"><button>Edit</button></a>
    </p>
<% end %>

<br/>

<a href="/superadminviews/">View Admin Accounts</a>

<h3><%= link_to "Home", root_path %></h3>