.passwordConfirm {
  margin-bottom: 1%;
}

.errorMessage,
#requestLink {
  color: red;
}

.errorMessage {
  width: 120%;
  margin-left: -3%;
  font-size: medium;
  line-height: 1;
}

#inputSignInPassword:focus + label,
#inputSignInPasswordConfirm:focus + label {
  padding-top: 5%;
  bottom: 45%;
  font-size: x-small;
  color: #4ec8ed;
}

.password-confirm-input:focus {
  padding-top: 5%;
  outline: none;
}

.form-newPassword > .form-group > label,
.name > label {
  position: absolute;
  padding-left: 16px;
  padding-top: 16px;
  font-size: xx-small;
  color: #ffffff00;
  margin-right: 0;
}

.form-newPassword input {
  font-size: medium;
  color: black;
  margin-right: 0;
  border: 1px;
  border-style: solid;
  border-color: #9b9b9b;
}

.resetPasswordButton {
  margin-top: 2%;
  margin-right: 3%;
  margin-bottom: 5%;
}
