.newPassword,
.confirmPassword {
  margin-bottom: 1%;
}

.errorMessage {
  width: 120%;
  margin-left: -3%;
  font-size: small;
  color: red;
  line-height: 1;
}

.form-newPassword > .form-group {
  position: absolute;
  padding-left: 16px;
  padding-top: 16px;
  font-size: xx-small;
  color: #ffffff00;
  margin-right: 0;
}

.resetPasswordButton {
  margin-right: 3%;
  margin-bottom: 1%;
}

.fas.fa-eye.fa-lg,
.fas.fa-eye-slash.fa-lg {
  color: #9b9b9b;
  position: absolute;
  margin-left: 90%;
  margin-top: 2%;
}
