.profile-header {
  height: 165px;
  margin-bottom: 50px;
}

.profile-header .navbar {
  box-shadow: 0 8px 40px -40px black;
}

.profilePic {
  width: 150px;
  border-radius: 50%;
}

.user-edit-button {
  border: none;
  margin: 10px;
}

.user-name h1 {
  display: inline-block;
  vertical-align: middle;

}

.user-bio button {
  float: right;
}
