.profile-header {
  height: 165px;
  margin-bottom: 50px;
}

.profile-header .navbar {
  box-shadow: 0 8px 40px -40px black;
}

.profilePic {
  width: 150px;
  border-radius: 50%;
}

.user-edit-button {
  border: none;
  margin: 10px;
}

.user {
  font-size: 19px;
}

.user-name h1 {
  display: inline-block;
  vertical-align: middle;

}

.user-bio button {
  float: right;
}

.user-info p {
  color: #9b9b9b;
}

.user-bio {
  color: #9b9b9b;
}

.user-panel {
  margin-top: 20px;
}

.user-nav-bar {
  margin-top: 50px;
  font-size: 22px;
}

.user-nav-bar .nav-tabs {
  box-shadow: none;
}

.user-nav-bar .nav-link {
  cursor: pointer
}

.user-nav-tab-active {
  border-left: 3px solid #4ec8ed;
  color: #4ec8ed;
}

.user-nav-bar .nav-item :hover {
  border: none;
}

.right-pane {
  border-left: 1px solid #dddddd;
}
