.wrapper{
  height: auto;
  width: auto;
}

.card-container {
  max-width: 18rem;
  height: auto;
  padding: 10px;
  border: 2px solid #c7ced4;
  border-radius: 10px;
  background: white;
  margin: 5px;
}

.card-title{
  text-align: center;
  color: #4EC8ED
}

.card {
  max-width: 300px;
  color: #495057;
  max-height: 100%;
}

.image-holder{
  position: relative;
}

button{
  border-radius: 20px;
  height: 40px;
  padding-left: 20px;
  padding-right: 20px; 
  width: auto;
  font-size: 75%;
  background-color: #31df7d;
  position: absolute;
  top: 3%;
  right: 3%; 
}

button:hover{
  background-color: #c7ced4;
}