#wrapper {
  padding: 1em;
  height: auto;
  width: auto;
  color: darkgrey;
}

.card-deck {
  margin: 0px;
}

.card-title {
  text-align: center;
  color: #4EC8ED
}

.card {
  width: 300px;
  max-height: 600px;
  padding: 10px;
  border: 2px solid #c7ced4;
  border-radius: 10px;
  background: white;
}

.card-img-top {
  height: 300px;
  width: 275px;
}

.image-holder {
  position: relative;
}

span:not(:last-child) {
  border-right: 2px solid darkgrey;
  padding-right: 10px;  
}

span:not(:first-child) { 
  padding-left: 10px;
}

i {
  padding-right: 5px;
}

.fa-utensil-spoon {
  transform: rotate(45deg);
  padding-right: 10px;
  vertical-align: -25%;
}

.icons {
  padding-right: 5px;
  color: darkgrey;
  filter: invert(60%);
}

button {
  border-radius: 20px;
  height: 40px;
  padding-left: 20px;
  padding-right: 20px; 
  width: auto;
  font-size: 75%;
  background-color: #31df7d;
  position: absolute;
  top: 3%;
  right: 3%; 
}

button:hover {
  background-color: #c7ced4;
}