.lozengeBubbles{
  text-align: center;
}

.lozenge{
  float: left;
  text-align: center;
  cursor: pointer;
  border: #888AA0;
  color: #757575;
  font-size: 20px;
  box-shadow: 1.5px 2px 1.5px 2px #E7E7E7;
  margin: 10px;
  padding-left: 20px;
  padding-right: 20px;
  border-radius: 50px 50px;
}

.closeLozenge{
  cursor: pointer;
  border: none;
  color: #888AA0;
}