.overall-container {
  margin: 0px 20px;
  padding: 0px;
}

.recipe-icon {
	margin-top: 50px;
	 height: 80px;
  line-height: 80px;
  text-align: left;
  font-size: 23.4px;
  color: white;
  padding: 0px;
}

.recipe-photo {
	width: 100%;
	height: 500px;
}

.tags-bar {
	display: flex;
	jusrify-content: center;

}

#recipe-title {
	margin-top: 2%;
	text-align: center;
}

#recipe-descrip {
	text-align: center;
	padding: 1% 3% 3% 3%;

}

#ingredient-title {
	margin-top: 2%;
	text-align: center;
}

#hr-line {
	border:0.5px solid lightgrey;
 	width: 90%;
 	margin: 0 auto;
}

#ingredient-box {
	display: flex;
	justify-content: center;
	margin-top: 5%;
}

ul {
	column-count: 2;
	column-gap: 40px;
}


#direction-title {
	margin-top: 2%;
	text-align: center;
}
