div {
    color: red;
}
body {
    color: red;
}

/*--- TYPOGRAPHY ---*/
 /* Body */
 body {
  font-family: 'Nunito', sans-serif;
  font-weight: lighter;
  font-size: 17.7px;
 }

 /* Heading Large */
 h1 {
  font-size: 45px;
  font-family: 'Nunito', sans-serif;
  font-weight: bold;
 }

 /* Heading Medium */
 h3 {
  font-size: 28.5px;
  font-family: 'Nunito', sans-serif;
  font-weight: 600;
 }

 /* Heading Small */
 h5 {
  font-size: 17.7px;
  font-family: 'Nunito', sans-serif;
  font-weight: bold;
 }

 /*--- LABELS ---*/
 
 /* Label class */
 .Label {
  font-family: 'Nunito', sans-serif;
  font-size: 11px;
 }

 /* label */
 label {
  font-size: 11px ;
  color: white;
  font-family: 'Nunito', sans-serif;
  font-weight: bold;
  background-color: var(--ninja-green);
  border: solid var(--ninja-green) 2px;
  text-align: center;
  border-radius:   3rem;/*50%; /*50px;*/
  padding: 0.45rem 2rem;
 }

 /*--- COLOR PALETTE ---*/
 /* CSS Variables */
:root {
  --attention-yellow: #ffc837;
  --dark-yellow: #cea22e;
  --light-yellow: #f9d26b;
  --trust-blue: #4ec8ed;
  --dark-blue: #06a6d3;
  --light-blue: #aae8f9;
  --ninja-green: #32e37f;
  --dark-green: #00bc52;
  --light-green: #89f2b7;
  --happy-purple: #495be1;
  --dark-purple: #1023b7;
  --light-purple: #95a0f1;
  --gray-1: #f2f2f2;
  --gray-2: #9b9b9b;
  --gray-3: #696969;
  --gray-4: #2e2a25;
}


 /*--- Background Colors Classes ---*/
 .BCattentionYellow {
   background-color: var(--attention-yellow);
 }

 .BCdarkYellow {
   background-color: var(--dark-yellow);
 }

 .BClightYellow {
   background-color: var(--light-yellow);
 }

 .BCtrustBlue {
   background-color: var(--trust-blue);
 }
 
 .BCdarkBlue {
   background-color: var(--dark-blue);
 }

 .BClightBlue {
   background-color: var(--light-blue);
 }

 .BCninjaGreen {
   background-color: var(--ninja-green);
 }

 .BCdarkGreen {
   background-color: var(--dark-green);
 }

 .BClightGreen {
   background-color: var(--light-green);
 }

 .BChappyPurple {
   background-color: var(--happy-purple);
 }

 .BCdarkPurple {
   background-color: var(--dark-purple);
 }

 .BClightPurple {
   background-color: var(--light-purple);
 }

 .BCgray1 {
   background-color: var(--gray-1);
 }
 
 .BCgray2 {
   background-color: var(--gray-2);
 }

 .BCgray3 {
   background-color: var(--gray-3);
 }

 .BCgray4 {
   background-color: var(--gray-4);
 }

 /*--- Font Colors Classes ---*/
 .attentionYellow {
  color: var(--attention-yellow);
 }

 .darkYellow {
  color: var(--dark-yellow);
 }

 .lightYellow {
  color: var(--light-yellow);
 }

 .trustBlue {
   color: var(--trust-blue);
 }

 .darkBlue {
  color: var(--dark-blue);
 }

 .lightBlue {
  color: var(--light-blue);
 }

 .ninjaGreen {
  color: var(--ninja-green);
 }

 .darkGreen {
  color: var(--dark-green);
 }

 .lightGreen {
  color: var(--light-green);
 }

 .happyPurple {
  color: var(--happy-purple);
 }

 .darkPurple {
  color: var(--dark-purple);
 }

 .lightPurple {
  color: var(--light-purple);
 }

 .gray1 {
  color: var(--gray-1);
 }
 
 .gray2 {
  color: var(--gray-2);
 }

 .gray3 {
  color: var(--gray-3);
 }

 .gray4 {
  color: var(--gray-4)
 }