.containerSection {
  color: white;
  padding-top: 26px;
  padding-left: 0;
  padding-right: 0;
  margin: 0;
  font-family: 'Nunito', sans-serif;
  font-size: 28.5px;
  font-weight: 500;
}

.signupSection {
  background-color: #495be1;
  text-align: center;
  width: 100%;
  height: auto;
  margin: 0;
}

.signupText {
  font-size: 32.5px;
  font-weight: 500;
}

.signupButtonSection {
  padding: 0 91px;
  height: 130px;
  display: block;
  clear: both;
}

.signupButtonSection button {
  color: white;
  background-color: #495be1;
  border: solid white 3px;
  border-radius: 6.5px;
  padding: 26px 52px 65px 52px;
  font-size: 32.5px;
  font-weight: 500;
  height: 91px;
}

.signupImage {
  width: 100%;
  height: auto;
  background-color: #2966eb;
}

.signupText {
  display: block;
  clear: both;
  padding-top: 39px;
  padding-bottom: 26px;
  border: none;
}

.col {
  padding-right: 0px;
}
