.homepage.container-fluid {
  margin: 0px;
  font-family: 'Nunito', sans-serif;
}

.header {
  height: 100px
}

.homepageContent {
  margin: 0px;
  margin-top: 0px;
}

.suggestions {
  margin-top: 20px;
  text-align: center;
}

h2 {
	
	line-height: 1rem;
	margin-bottom: 0rem;
	margin-top: 1.5rem;
}
