.passwordBackgroundImage {
  background-image: url("../../assets/Login_Page.jpg");
  background-size: cover;
  width: 1300px;
  height: 665px;
  background-position: center;
  background-repeat: no-repeat;
}

.resetPasswordPage {
  margin: 0px;
  padding: 0px;
}

.resetPasswordPageContainer {
  padding-left: 0px;
  padding-right: 0px;
  display: flex;
}

.newPasswordCardWrapper {
  padding-top: 12%;
  width: 100%;
  height: auto;
  display: inline-block;
}

.newPasswordCard {
  width: 85%;
  height: 100%;
  padding: 5% 10%;
  padding-left: 12.5%;
  border-radius: none;
  background: white;
  box-shadow: none;
  border-style: solid;
  border-color: #9b9b9b;
  border-width: thin;
}

.newPasswordHeader {
  text-align: center;
  color: #696969;
  padding-top: 5%;
  padding-bottom: 5%;
}

.newPasswordFooter {
  margin-top: 6%;
}
