.findText {
  color: white;
  font-size: 2vw;
  line-height: 1em;
  font-weight: 900;
  font-family: 'Nunito', sans-serif;
  text-shadow: 0 0 15px #2e2a25;
}

.sb-search-form {
  margin: 0;
  padding: 0;
  display: inline;
  font-size: 2vw;
  font-weight: 200;
}

.sb-search-input {
  margin-top: 5vh;
  padding: 1vh 2vw 1vh 2vw;
  font-weight: 100;
  font-family: 'Nunito', sans-serif;
  color: #9b9b9b;
  background-color: #f2f2f2;
  border-radius: 10px 0px 0px 10px;
  border: 0;
  outline: none;
  box-shadow: none;
}

.sb-error-message {
  color: #cea22e;
  font-weight: bold;
  height: 38px;
}

.sb-search-button {
  margin-top: 3vh;
  padding: 1vh 32vw 1vh 2vw;
  background: #f2f2f2;
  border: none;
  border-radius: 0px 10px 10px 0px;
  padding-right: 10px;
}

.sb-search-button:hover {
  cursor: pointer;
}

.sb-search-button:focus {
  outline: none;
}

.suggestionsSection {
  font-size: 1.5vw;
  opacity: 0.5;
  color: #757373;
  text-align: center;
  justify-content: center;
  padding-top: 2vw;
  font-weight: 500;
  margin: 0px;
}
