
.signInPassword.form-group.row {
  position: relative;
  margin-bottom: 1%;
}

.forgotPassword.form-group.row > a {
  color: grey;
  font-size: x-small;
  text-decoration:underline;
}

#inputSignInEmail:focus, #inputSignInPassword:focus {
  outline: none;
}

#inputSignInEmail:focus + label, #inputSignInPassword:focus + label {
  bottom: 45%;
  font-size: x-small;
  color: #06A6D3;
}
