
.signInPassword {
  position: relative;
  margin-bottom: 1%;
}

.forgotPassword > a {
  color: #696969;
  font-size: x-small;
  text-decoration:underline;
}

#inputSignInEmail:focus + label, #inputSignInPassword:focus + label {
  padding-top: 5%;
  bottom: 45%;
  font-size: x-small;
  color: #4EC8ED;
}

.form-signInUp > .form-group > label, .name > label {
  position: absolute;
  padding-left: 1rem;
  padding-top: 1rem;
  font-size: xx-small;
  color: #ffffff00;
  margin-right: 0;
}

.signInButton {
  margin-right: 3%;
}

