
.signInPassword {
  position: relative;
  margin-bottom: 1%;
}

.forgotPassword > a {
  color: #696969;
  font-size: x-small;
  text-decoration:underline;
}

#inputSignInEmail:focus + label, #inputSignInPassword:focus + label {
  bottom: 45%;
  font-size: x-small;
  color: #4EC8ED;
}

.fullWidth:focus {
  outline: none;
}

.form-signInUp > .form-group > label {
  position: absolute;
  padding-left: 1rem;
  padding-top: 1rem;
  font-size: small;
  color: #9b9b9b;
  margin-right: 0;
}

