
:root {
  --input-padding-x: .75rem;
  --input-padding-y: .75rem;
}


.form-signin {
  position: relative;
  float: right;
  height: 45vh;
  width: 35vw;
  padding: 5vh 5vw 5vh 5vw;
  background-color: #ffffff;
  box-shadow: 1px 2px 4px rgba(0, 0, 0, .25);
}

.form-label-group {
  position: relative;
  margin-bottom: 1rem;
}

.form-label-group>input,
.form-label-group>label {
  padding: var(--input-padding-y) var(--input-padding-x);
}

.form-label-group>label {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  margin-bottom: 0;
  /* Override default `<label>` margin */
  line-height: 1.5;
  color: #495057;
  border: 1px solid transparent;
  border-radius: .25rem;
  transition: all .1s ease-in-out;
}

.form-label-group input::-webkit-input-placeholder {
  color: transparent;
}

.form-label-group input:-ms-input-placeholder {
  color: transparent;
}

.form-label-group input::-ms-input-placeholder {
  color: transparent;
}

.form-label-group input::-moz-placeholder {
  color: transparent;
}

.form-label-group input::placeholder {
  color: transparent;
}

.form-label-group input:not(:placeholder-shown) {
  padding-top: calc(var(--input-padding-y) + var(--input-padding-y) * (2 / 3));
  padding-bottom: calc(var(--input-padding-y) / 3);
}

.form-label-group input:not(:placeholder-shown)~label {
  padding-top: calc(var(--input-padding-y) / 3);
  padding-bottom: calc(var(--input-padding-y) / 3);
  font-size: 12px;
  color: #4EC8ED;
}

button {
  background-color: #4EC8ED;
  color: white;
}

button:hover{
  background-color: white;
  color: #4EC8ED;
}

a {
  color: #495057;
  text-decoration: underline;
}

h3 {
  text-align: center;
  color: #495057;
}

span {
  color: #495057;
  position: absolute;
  right: 10px;
  bottom: 17px;
}

#inputEmail4,
#inputPassword3 {
  width: 100%;
  position: relative;
}