.profilePage-profilePic {
  width: 150px;
  border-radius: 50%;
}

.user-edit-button {
  border: none;
  margin: 10px;
}

.profilePage-user {
  font-size: 19px;
  margin-left: 30px;
}

.profilePage-user-name h1 {
  display: inline-block;
  vertical-align: middle;
}

.user-bio button {
  float: right;
}

.user-info p {
  color: #666565;
}

.user-bio {
  color: #666565;
}
