#edit-icon-container {
  display: inline-block;
  float: right;
  margin: 20px 26px;
  border: 2px solid #ffa616;
  border-radius: 13%;
  color: #ffa616;
  font-family: 'Nunito', sans-serif;
  font-size: 13px;
  height: 3em;
  padding-left: .5em;
  padding-right: 1.6em;
  line-height: 3em;
  background-color: #ececec;
  font-weight: 600;
  text-align: right;
  width: 100px;
}

#pencil-icon-png {
  height: 20px;
  width: 20px;
  color: orange;
  position: relative;
  left: -12px;
  top: -2px;
}

#pencil-icon-x-1 {
  display: inline-block;
  height: 2px;
  width: 24px;
  position: relative;
  left: 25px;
  top: -5px;
  background-color: #ffa616;
}

#pencil-icon-x-2 {
  display: inline-block;
  height: 2px;
  width: 24px;
  position: relative;
  left: 1px;
  top: 1px;
  background-color: #ffa616;
}

#pencil-icon-x-3 {
  display: inline-block;
  background-color: #ffa616;
  height: 6px;
  width: 2px;
  position: relative;
  left: -1px;
  top: 1px;
}

#pencil-icon-x-4 {
  display: inline-block;
  background-color: #ffa616;
  height: 8px;
  width: 2px;
  position: relative;
  left: -9px;
  top: 1px;
}

#pencil-icon-x-5 {
  display: inline-block;
  background-color: #ffa616;
  height: 8px;
  width: 1px;
  position: relative;
  left: -27px;
  top: 1px;
}

#pencil-icon-x-6 {
  display: inline-block;
  background-color: #ffa616;
  height: 2px;
  width: 6px;
  position: relative;
  left: -33px;
  top: 0px;
  transform: rotate(30deg);
}

#pencil-icon-x-7 {
  display: inline-block;
  background-color: #ffa616;
  height: 2px;
  width: 6px;
  position: relative;
  left: -39px;
  top: -4px;
  transform: rotate(-30deg);
}
