.react-bootstrap-table-pagination-list {
  text-align: center;
  transform: translateX(-50%);
}

.react-bootstrap-table-page-btns-ul {
  float: none;
}

.react-bootstrap-table-pagination-list {
  text-align: center;
  transform: translateX(-50%);
}

.react-bootstrap-table-page-btns-ul {
  float: none;
}

.button {
  border: none;
}
