#error {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.notFoundTitle {
  /* stylelint-disable-next-line unit-whitelist */
  font-size: 30vw;
  color: #06a6d3;
}

.notFoundText {
  /* stylelint-disable-next-line unit-whitelist */
  font-size: 4vh;
}
