#create-tag-container {
  display: inline-block;
}

#create-tag-text {
  color: #32e37f;
  font-size: 12px;
  display: inline-block;
}

#create-tag-icon {
  width: 11px;
  height: 11px;
  border-radius: 100%;
  color: #32e37f;
  font-size: small;
  line-height: .65;
  border: 1px solid #32e37f;
  display: inline-block;
  margin-left: 6px;
}
