<p>These are all the website's users.</p>

<% @users.each do |user| %>
    <li>
    	<a href="/admintools/<%= user.id %>"><%= user.email %></a>
    </li>
<% end %>

<br/>

<% if current_admin.super_admin? %>
	<p>Test successful</p>
<% end %>

<h3><%= link_to "Home", root_path %></h3>