
.firstName.col-md.form-control-lg {
  border: .05rem;
  border-style: solid;
  border-color: #cfcfcf;

}

#inputLastName {
  border: .05rem;
  border-style: solid;
  border-color: #cfcfcf;
}

.signUpButton.btn.btn-lg.btn-block {
  background-color:#06A6D3;
  color: white;
}

.fullWidth.form-control-lg {
  border: .05rem;
  border-style: solid;
  border-color: #cfcfcf;
  width: 100%;
}

.partWidth.form-control-lg {
  width: 100%;
}

.fas.fa-eye.fa-lg, .fas.fa-eye-slash.fa-lg {
  color:#cfcfcf;
  position: absolute;
  margin-left: 90%;
  margin-top: 4%;
}

.password.form-group.row {
  position: relative;
  margin-right: 0;
}

#inputFirstName:focus, #inputLastName:focus, #inputSignUpPassword:focus, #inputSignUpEmail:focus{
  outline: none;
}

form > .form-group.row {
  position: relative;
  caret-color: #cfcfcf;
  margin-right: 0;
  
}

form > .form-group.row > label {
  position: absolute;
  padding-left: 1rem;
  padding-top: 1rem;
  font-size: small;
  color: #cfcfcf;
  margin-right: 0;
}

#inputSignUpEmail:focus + label, #inputSignUpPassword:focus + label, #inputFirstName:focus + label, #inputLastName:focus + label {
  bottom: 45%;
  font-size: x-small;
  color: #06A6D3;
}

.form-group.row > input {
  padding-top: 5%;
  font-size: medium;
  color: grey;
  margin-right: 0;
}

.name.row > input {
  padding-top: 5%;
  padding-bottom: 0;
  font-size: medium;
  color: grey;
}

.col > .name.row > label {
  position: absolute;
  padding-left: 1rem;
  padding-top: 1rem;
  font-size: small;
  color: #cfcfcf;

}

.name.col {
  margin-right: 5%;
}

.name.row {
  margin-right: 0;
}

