/* :root {
  --input-padding-x: .75rem;
  --input-padding-y: .75rem;
}

html,
body {
  height: 100%;
}

body {
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
  -ms-flex-align: center;
  -ms-flex-pack: center;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: #f5f5f5;
}

/* .form-signUp {
  width: 100%;
  max-width: 400px;
  padding: 15px;
  margin: 0 auto;
}

.form-label-group>input,
.form-label-group>label {
  padding: var(--input-padding-y) var(--input-padding-x);
}

.form-label-group>label {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  margin-bottom: 0; */
  /* Override default `<label>` margin */
  /* line-height: 1.5;
  color: #495057;
  border: 1px solid transparent;
  border-radius: .25rem;
  transition: all .1s ease-in-out;
}

.form-label-group input::-webkit-input-placeholder {
  color: transparent;
}

.form-label-group input:-ms-input-placeholder {
  color: transparent;
}

.form-label-group input::-ms-input-placeholder {
  color: transparent;
}

.form-label-group input::-moz-placeholder {
  color: transparent;
}

.form-label-group input::placeholder {
  color: transparent;
}

.form-label-group input:not(:placeholder-shown) {
  padding-top: calc(var(--input-padding-y) + var(--input-padding-y) * (2 / 3));
  padding-bottom: calc(var(--input-padding-y) / 3);
}

.form-label-group input:not(:placeholder-shown)~label {
  padding-top: calc(var(--input-padding-y) / 3);
  padding-bottom: calc(var(--input-padding-y) / 3);
  font-size: 12px;
  color: #4EC8ED;
}

button {
  background-color: #4EC8ED;
  color: white;
}

a {
  color: #495057;
  text-decoration: underline;
}

h3 {
  text-align: center;
  color: #495057;
}

span {
  color: #495057;
  position: absolute;
  right: 10px;
  bottom: 17px;
}

.form-group {
  display: inline-flex;
  margin-bottom: 0em;
}

.form-label-group {
  position: relative;
  margin-bottom: 1rem;
}

#inputFirstName {
  margin-right: 0.5em;
  max-width: 180px;
}

#inputLastName {
  max-width: 180px;
}

#inputEmail14,
#inputPassword4 {
  width: 100%;
  position: relative;
} */

.firstName.col-md.form-control-lg {
  margin-right: 3%;
}

.signUpButton.btn.btn-lg.btn-block {
  background-color:#06A6D3;
  color: white;
}

.fullWidth.form-control-lg {
  width: 100%;
}

.partWidth.form-control-lg {
  width: 100%;
}

.fas.fa-eye.fa-lg, .fas.fa-eye-slash.fa-lg {
  color:lightGrey;
  position: absolute;
  margin-left: 90%;
  margin-top: 4%;
}


.password.form-group.row {
  position: relative;
}