.createRecipePage.container-fluid {
    margin: 0px;
    padding-top: 50px;
    width: 100%;
}

.createRecipePage-header {
    width: 100%;
    height: 100px
}

.createRecipePage-form {
    margin: 0px;
    margin-top: 0px;
    width: 100%;
}