.directions-btn-container{
  display: flex;
  justify-content: flex-end;
  width: 70%;
}

.add-directions-button {
  display: inline-block;
  margin: 20px 20px;
  border: 2px solid #ffa616;
  margin-top: 20px;
  margin-bottom: 0;
  color: #ffa616;
}

#directions-input{
  width: 40%;
  height: 45px;
  border-radius: 5px;
  border: solid 1px lightgray
}

#recipe-delete-btn{
  background: transparent;
  border: none;
  color: #9b9b9b;
  font-weight: 900;
  font-size: 1.3em;
  margin: 5px;
}

.directions{
  display: flex;
  justify-content: center;
  align-items: center;
}

.fa-circle{
  color: lightgray;
  margin: 5px;
  font-size: 1.5em;
}

.fa-times{
  font-size: 1.5em;
  margin: 5px;
}
