.single-comment {
	padding-left: 5vw;
}

.single-comment-heading {
	text-align: left;
}

.commenter-icon {
	background-color: white;
	height: 40px;
	width: 40px;
	border-radius: 100%;
	display: inline-block;
	position: relative;
	top: 8px;
	left: -1px;
}

.commenter-title {
	display: inline-block;
    height: 40px;
    font-size: 16px;
    padding: 0;
    vertical-align: middle;
    line-height: 40px;
	margin-left: 10px;
}

.single-comment-body {
	text-align: left;
	padding-left: 20px;
	padding-right: 4vw;
}