.mainSearch.container-fluid {
    padding-bottom: 0px;
    padding-top: 50px;
    font-family: 'Nunito', sans-serif;
    width: 100%;
}

.search {
    font-size: 2vw;
    font-weight: 200;
}

.searchSection {
    background-image: url("../../assets/grilled-chicken1725.jpg");
    background-repeat: no-repeat;
    width: 100%;
    text-align: center;
    padding: 5vw 15vw 10vw 20vw;
}

.input {
    padding: 1vw 26vw 1vw 2vw;
    border-radius: 10px;
    font-weight: 200;
    text-shadow: 2px 2px #F2F2F2;
    border: 0;
    box-shadow: 0 0 5px #000;
}

.findText {
    color: white;
    font-size: 4.5vw;
    font-weight: bold;
}

.suggestionsSection {
    font-size: 1.5vw;
    opacity: 0.5;
    color: #757373;
    text-align: center;
    justify-content: center;
    padding-top: 2vw;
    font-weight: 500;
    font-family: 'Nunito', sans-serif;
    margin: 0px;
}
