.mainSearch.container-fluid {
  padding-bottom: 0px;
  padding-top: 50px;
  width: 100%;
}

.searchSection {
  background-image: url('../../assets/pho.jpg');
  background-size: cover;
  width: 100%;
  text-align: center;
  padding: 191px 165px 191px 260px;
}

.findText {
  color: white;
  font-size: 58.5px;
  line-height: 1em;
  font-weight: 900;
  font-family: 'Nunito', sans-serif;
  text-shadow: 0 0 15px #2e2a25;
}

.search {
  font-size: 26px;
  font-weight: 200;
}

.search-form {
  margin: 0;
  padding: 0;
  display: inline;
}

.search-input {
  width: 80%;
  height: 80px;
  margin-top: 39px;
  padding: 8px 20px 8px 20px;
  font-weight: 100;
  font-family: 'Nunito', sans-serif;
  color: #9b9b9b;
  border-radius: 10px 0px 0px 10px;
  border: 0;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  outline: none;
}

.error-message {
  color: #cea22e;
  font-weight: bold;
  height: 38px;
}

.search-button {
  height: 80px;
  margin-top: 39px;
  padding: 8px 20px 8px 20px;
  background: #fff;
  border: none;
  border-radius: 0px 10px 10px 0px;
  padding-right: 10px;
}

.search-button:hover {
  cursor: pointer;
}

.search-button:focus {
  outline: none;
}

.suggestionsSection {
  font-size: 19.5px;
  opacity: 0.5;
  color: #757373;
  text-align: center;
  justify-content: center;
  padding-top: 26px;
  font-weight: 500;
  margin: 0px;
}

.button-box{
  position: absolute;
  cursor: pointer;
  background-color: grey;
  height: 30px;
  width: 50px;
  margin-left: 64%;
}

.chevron {
  margin-top: -12px
}

.content{
  cursor: pointer;
  margin-left: 7%;
  margin-right: 7%;
  background-color: grey;
  border-top: solid 1.5px blue;
  border-left: solid 1.5px blue;
  border-right: solid 1.5px blue;
  border-bottom: solid 1.5px blue;
  border-radius: 0 0 5px 5px;
  padding: 15px;
  font-family: verdana;
  font-size: 14px;
  color: white;
}

p.close {
  color: purple;
  font-size: 14px;
}

.header:focus {
  -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    transform: rotate(180deg);
}