.mainSearchContainer {
   /* height: 40vw; */
    background-image: url("./grilled-chicken1725.jpg");
    background-repeat: no-repeat;
    padding-bottom: 0;
}

.search {
   
    width: 100vw;
    font-size: 2vw;
 /*    color: rgba(240, 235, 235, 0.2);
    font-weight: 100; */
}

.searchSection {
    width: 93vw;
    text-align: center;
    padding-bottom: 10vw;
    padding-top: 5vw;
    padding-left:20vw;
    padding-right: 15vw;
    
}

.input {
    text-align: center;
    padding: 1vw 12vw;
}

.findText {
    color: white;
    font-size: 4.5vw;
    font-weight: bold;
}