#comments-title {
	padding-top: 30px;
	color: black;
	text-align: left;
	margin-left: 7vw;
	margin-bottom: 20px;
}

#comment-container {
	background-color: silver;
}

#new-comment-box {
	height: 20vh;
	width: 80vw;
	margin-left: 8.33vw;
}

#submitted-comments {
	margin-top: 20px;
	padding-bottom: 1.6em;
}

.temp-button {
	display: block;
}