.single-tag {
  border: 2px solid #7ae47a;
  border-radius: 30%/60%;
  color: #7ae47a;
  font-family: 'Nunito', sans-serif;
  font-size: 14px;
  margin: 10px 15px;
  height: 3em;
  padding-left: 1.5em;
  padding-right: 1.5em;
  display: inline-block;
  line-height: 2.5em;
  font-weight: bold;
}
