.designBySection {
    font-size: 1.5vw;
    opacity: 0.5;
    color: #757373;
    text-align: center;
    padding-top: 2vw;
    font-weight: 500;
}

.designByCo {
    font-size: 1.5vw;
    color: #1f1e1e;
}

.company {
    font-size: 2vw;
    font-weight: 400;
    opacity: 0.7;
    color: #666565;
}

.containerSection {
    padding-top: 2vw;
    padding-left: 0;
    padding-right: 0;
    text-align: center;
    padding-bottom: .25vw;
}

.iconSection {
	padding-right: 5vw;
}

.iconStyle {
    color: #a49f9f;
    font-weight: 700;
    padding-left: .75vw;
    padding-right: .75vw;
}