.containerSection {
  padding-top: 13px;
  text-align: center;
  padding-bottom: 13px;
  font-family: 'Nunito', sans-serif;
}

.company {
  font-size: 26px;
  font-weight: 400;
  opacity: 0.7;
  color: #666565;
}

.designBySection {
  font-size: 19.5px;
  opacity: 0.5;
  color: #757373;
  text-align: center;
  padding-top: 26px;
  font-weight: 500;
  font-family: 'Nunito', sans-serif;
}

.designByCo {
  color: #1f1e1e;
}

.iconSection {
  padding-right: 39px;
}

.iconStyle {
  color: #a49f9f;
  font-weight: 700;
  font-size: 29.25px;
  padding-left: 9.75px;
  padding-right: 13px;
}
