.designBySection {
    font-size: 1.5vw;
    opacity: 0.5;
    color: #757373;
    text-align: center;
    padding-top: 2vw;
    font-weight: 500;
    font-family: 'Nunito', sans-serif;
}

.designByCo {
    color: #1f1e1e;
    padding-bottom: 1vw;
}

.company {
    font-size: 2vw;
    font-weight: 400;
    opacity: 0.7;
    color: #666565;
}

.containerSection {
    padding-top: 1vw;
    text-align: center;
    padding-bottom: 1vw;
}

.iconSection {
	padding-right: 5vw;
}

.iconStyle {
    color: #a49f9f;
    font-weight: 700;
    font-size: 2.25vw;
    padding-left: .75vw;
    padding-right: 1vw;
}