#ingredient-input{
  width: 40%;
  height: 45px;
  border-radius: 5px;
  border: solid 1px lightgray
}

#recipe-delete-btn{
  background: transparent;
  border: none;
  color: #9b9b9b;
  font-weight: 900;
  font-size: 1.3em;
  margin: 5px;
}

.ingredients{
  display: flex;
  justify-content: center;
  align-items: center;
}

.fa-circle{
  color: lightgray;
  margin: 5px;
  font-size: 1.5em;
}

.fa-times{
  font-size: 1.5em;
  margin: 5px;
}
