.cards-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.load-more-button {
  color: #9b9b9b;
  border: solid #4ec8ed 1.75px;
}

.load-more-button:hover {
  color: white;
  background-color: #06a6d3;
  border-color: #06a6d3;
}
