#ingredient-title {
	color: #f5f5dc;
	text-align: center;
}

#ingredient-list {
	color: white;
	margin-bottom: 15px;
}

ul {
	list-style: none;
	padding: 0;
	margin: 0 auto;
}

li {
	padding-left: 1em;
	text-indent: -.7em;
	text-align: center;
}

li::before {
	content: "• ";
	color: silver;
}