#spoon-handle {
	width: 25px;
	height: 5px;
	border-radius: 50%;
	background-color: #55ffff;
	display: inline-block;
	position: relative;
}

#spoon-bowl {
	width: 16px; 
	height: 12px;
	border-radius: 80%;
	background-color: #55ffff;
	display: inline-block;
	position: relative;
	left: -7px;
	top: 3px;
}

#serv-text {
	display: inline-block;
	position: relative;
	margin-left: 6px;
	top: 2px;
}