.createRecipeForm.container-fluid {
    margin: 0px;
    width: 100%;
    margin-left: 0px;
    text-align: center;
}

.form-title {
    margin-top: 50px;
    margin-bottom: 50px;
}

.form-recipe-label {
    margin-bottom: 100px;
}

.form-dropdown {
    margin-bottom: 50px;
}

.form-tag-input {
    margin-bottom: 100px;
}

.form-ingredients {
    margin-bottom: 100px;
}

.form-directions {
    margin-bottom: 100px;
}

.form-submit button {
    color: white;
    background-color: #4EC8ED;
    border: solid white 3px;
    font-size: 45px;
    font-weight: 500;
}

