#delete-icon-container {
  display: inline-block;
  float: right;
  margin: 20px 26px;
  border: 3px solid #ffa616;
  border-radius: 13%;
  color: #ffa616;
  font-family: 'Nunito', sans-serif;
  font-size: 14px;
  height: 4em;
  padding-left: .5em;
  padding-right: .8em;
  line-height: 3em;
  font-weight: 600;
  width: 120px;
  text-align: center;
}

#delete-icon-x-container {
  display: inline-block;
  height: 16px;
  width: 18px;
  border: 2px solid #ffa616;
  position: relative;
  left: 2px;
  top: 3px;
  border-radius: 100%;
  margin-top: 3px;
}

#delete-icon-text {
  margin-left: 0px;
  padding-left: 0px;
  font-size: 18px;
  margin-top: 1px;
  display: inline-block;
}

#delete-icon-x-1 {
  display: inline-block;
  width: 2px;
  height: 10px;
  background-color: #ffa616;
  position: relative;
  left: -7px;
  top: 0px;
  transform: rotate(45deg);
}

#delete-icon-x-2 {
  display: inline-block;
  width: 10px;
  height: 2px;
  background-color: #ffa616;
  position: relative;
  left: -13px;
  top: -4px;
  transform: rotate(45deg);
}
