

body {
  margin: 0;
  padding: 0;
  background-color: white; 
  font-family: 'Nunito', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
/* 
code {
  font-family: 'Nunito', sans-serif;
  source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
} */

