.logo {
    width: 5vw;
    padding-top: 1vw;
    padding-bottom: 1vw;
}

.centerButtonSection {
    text-align: center;
}

.donateButton {
    padding-left: 60px;
    padding-right: 60px;
}

.buttonSize {
    height: 5vw;
    width: 8vw;
}

.btn-xlg {
    padding: 2vw 4vw;
    font-size: 1.5vw;
    vertical-align: center;

}
