.rlcLogo {
    height: 125px;
}

.topButton {
    height: 85px;
    font-size: 40px;
    border-radius: .75rem;
}

.browseButton {
    color: black;
    margin-left: 10rem;
    font-size: 40px;
}

.browseButton:hover {
    color: white;
    background-color:  #06A6D3;
}

.donateButton {
    color: white;
    background-color: #FFC837;
    border: none;
    font-size: 40px;
}

.donateButton:hover {
    background-color: #CEA22E;
    color: white;
}

.loginButton {
    color: #4EC8ED;
    border: solid #4EC8ED 5px;
}

.loginButton:hover {
    color: white;
    background-color: #06A6D3;
    border: solid 1px #06A6D3;
}

.searchArea {
    width:  50rem;
    height: 60px;
    border: solid #4EC8ED 1px;
    margin-right: 20rem;
}
