.rlcLogo {
  height: 125px;
}

.browseButton {
  color: black;
}

.browseButton:hover {
  color: white;
  background-color: #06a6d3;
}

.donateButton {
  color: white;
  background-color: #ffc837;
}

.donateButton:hover {
  background-color: #cea22e;
  color: white;
}

.loginButton {
  color: #4ec8ed;
  border: solid #4ec8ed 1.75px;
}

.loginButton:hover {
  color: white;
  background-color: #06a6d3;
  border-color: #06a6d3;
}

.navbar{
  display: inline-flex;
}
