.rlcLogo {
  height: 125px;
}

.navbar-btn {
  height: 50px;
}

.browseButton {
  color: black;
}

.browseButton:hover {
  color: white;
  background-color: #06a6d3;
}

.donateButton {
  color: white;
  background-color: #ffc837;
}

.donateButton:hover {
  background-color: #cea22e;
  color: white;
}

.login-or-create-button {
  color: #4ec8ed;
  border: solid #4ec8ed 1.75px;
}

.login-or-create-button:hover {
  color: white;
  background-color: #06a6d3;
  border-color: #06a6d3;
}
