#cards-wrapper {
  padding: 2vh 2vw;
  height: auto;
  width: auto;
  color: darkgrey;
}

.card-deck {
  margin: 0px;
}

.card-title {
  text-align: center;
  font-size: 120%;
  color: #4EC8ED
}

.card {
  width: 335px;
  max-height: 600px;
  padding: 10px;
  box-shadow: 3px 3px #f5f6f7;
  border-radius: 10px;
  background: white;
}

.card-img-top {
  height: 300px;
  width: 290px;
  margin-top: 10px;
  margin-left: 10px;
  margin-right: 10px;
}

.image-holder {
  position: relative;
}

.card-body {
  padding-top: 5px;
}

.card-snippet {
  font-size: 120%;
}

.card-meta:not(:last-child) {
  border-right: 2px solid darkgrey;
  padding-right: 10px;
}

.card-meta:not(:first-child) {
  padding-left: 10px;
}

i.fas {
  padding-right: 5px;
}

.fa-utensil-spoon {
  transform: rotate(45deg);
  padding-right: 10px;
  vertical-align: -25%;
}

.icons {
  padding-right: 5px;
  color: darkgrey;
  filter: invert(60%);
}

.card-bottom {
  display: flex;
  justify-content: space-evenly;
}

.card-meal-btn {
  border-radius: 20px;
  color: white;
  border: 0px;
  height: 40px;
  padding-left: 20px;
  padding-right: 20px;
  width: auto;
  font-size: 75%;
  font-weight: bold;
  background-color: #31df7d;
  position: absolute;
  top: 6%;
  right: 6%;
}

.card-meal-btn:hover {
  background-color: #c7ced4;
}
