.overall-container {
  margin: 0px 10px;
  padding: 0px;
  background-color: #222222;
}

.recipe-path {
  height: 80px;
  line-height: 80px;
  background-color: #333333;
  text-align: left;
  font-size: 1.8vh;
  color: white;
  padding: 0px;
}

.path-information {
  display: inline-block;
  text-align: left;
}

.path-information-mobile {
  display: none;
  text-align: left;
  font-size: 12px;
}

.App-link {
  color: #61dafb;
}

.separator {
  height: 2px;
  background-color: #eeeeee;
  margin-bottom: 20px;
}

#ingredient-title {
  color: #f5f5dc;
  text-align: center;
}

#ingredient-list {
  color: white;
  margin-bottom: 15px;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0 auto;
}

li {
  padding-left: 1em;
  text-indent: -.7em;
  text-align: center;
}

li::before {
  content: "• ";
  color: silver;
}

#single-ingredient {
  color: white;
  display: inline;
}

#recipe-title {
  color: #f5f5dc;
  text-align: center;
}

#recipe-descrip {
  color: white;
  font-size: 12px;
  margin-bottom: 20px;
  text-align: center;
}

#direction-container {
  margin-bottom: 20px;
  text-align: left;
}

#direction-title {
  color: white;
  text-align: center;
}

.single-direction {
  display: inline;
  color: pink;
  text-align: left;
}

.direction-index {
  display: inline;
  margin-right: 8px;
}

.direction-action {
  display: inline;
}

@media (max-width: 600px) {
  .path-information {
    display: none;
  }
  .path-information-mobile {
    display: inline-block;
    font-size: 16px;
  }
}

@media (max-width: 450px) {
  .path-information {
    display: none;
  }
  .path-information-mobile {
    display: inline-block;
    font-size: 12px;
  }
}