.overall-container {
  margin: 0px 10px;
  padding: 0px;
  background-color: #222222;
}

.recipe-path {
  height: 80px;
  line-height: 80px;
  background-color: #333333;
  text-align: left;
  font-size: 1.8vh;
  color: white;
  padding: 0px;
}

.path-information {
  display: inline-block;
  text-align: left;
}

.path-information-mobile {
  display: none;
  text-align: left;
  font-size: 12px;
}

.App-link {
  color: #61dafb;
}

.separator {
  height: 2px;
  background-color: #eeeeee;
  margin-bottom: 20px;
}

@media (max-width: 600px) {
  .path-information {
    display: none;
  }
  .path-information-mobile {
    display: inline-block;
    font-size: 16px;
  }
}

@media (max-width: 450px) {
  .path-information {
    display: none;
  }
  .path-information-mobile {
    display: inline-block;
    font-size: 12px;
  }
}