.st-error-message {
  color: #cea22e;
  font-weight: bold;
  height: 38px;
}

.st-search-button {
  padding: 8px 0px 8px 0px;
  background: #f2f2f2;
  border: none;
  border-radius: 0px 10px 10px 0px;
  padding-right: 10px;
}

.st-search-button:hover {
  cursor: pointer;
}

.st-search-button:focus {
  outline: none;
}
