
.thankYouColumn {
	width: 50%;
	padding-left: 7%;
    padding-right: 1%;
    text-align: center;
    margin-top: 0;
}

.checkStyle {
    width: 33%;
    height: auto;
}

.welcomeText {
    color: #9b9b9b;
    margin-bottom: 8%;
    line-height: 1.6;
}

.dashboardButton {
    margin-bottom: 10%;
}