.topLoginImage {
	background-image: url("../../assets/Login_Page.jpg");
	width:  100vw;
	height: 60vh; 
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}

.loginPage {
	margin: 0px;
	padding: 0px;
}

.loginPageContainer {
	padding-left: 0px;
	padding-right: 0px;
	display: flex;
}

.loginCardWrapper {
	padding-top: 10%;
	width: 100%;
	height: auto;
	display: inline-block;
}

.loginCard {
	width: flex;
    height: 100%;
	padding: 5% 10%;
	border-radius: none;
	background: white;
	box-shadow: none;
	border-style: solid;
	border-color: #9b9b9b;
	border-width: thin;
}

.loginColumnOne {
	float: left;
	width: 50%;
	padding-left: 5%;
	padding-right: 1%;
}

.loginColumnTwo {
	float: left;
	width: 50%;
	padding-right: 5%;
	padding-left: 1%;
}

.loginHeader {
	text-align: center;
	color: #696969;
	padding-top: 5%;
	padding-bottom: 5%;
}

.loginCards {
	align-items: stretch;
}
