.content {
  margin: 0px;
  margin-top: 0px;
}

.header {
  height: 150px
}

.addButton {
  color: #ffff;
  background-color:  #4EC8ED;
}
.addButton:hover {
  color: #ffff;
  background-color:  #06A6D3;
}

.centertext {
  text-align: center;
}