.content {
  margin: 0px;
  margin-top: 0px;
  width: 100%;
}

.header {
  height: 165px;
}

.addButton {
  color: #ffff;
  background-color: #4ec8ed;
  margin-left: 1000px;
}
.addButton:hover {
  color: #ffff;
  background-color: #06a6d3;
}
.adminHeader {
  padding-left: 560px;
}

.centertext {
  text-align: center;
}

.nav-tabs {
  border: none;
}
