<p>Hello <%= @resource.first_name %>!</p>

<p>We're contacting you to notify you that your password has been changed.</p>
<p>If you didn't change your password, please use the Reset Password functionality to recover your password ASAP.</p>